<div class="col-sm-12">
    <p class="post-links">
        <span class="glyphicon glyphicon-comment g-links" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-retweet g-links" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-heart g-links" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-option-horizontal g-links" aria-hidden="true"></span>
        <a href="">View details</a>
    </p>
</div>