<div class="container">
    <div class="col-xs-9">
        <h1 class="display-4">Editing User</h1>
        <div class="panel panel-default">
            <div class="panel-body">
                <%= link_to 'Show', @user, class: "btn btn-danger",style: 'float: right;' %>
                <%= render 'form', user: @user %>
            </div>
            
        </div>
    </div>
</div>        

