<%= link_to 'Back', users_path %>
<%= form_with(model: tweet) do |form| %>

  <div class="field">

  </div>

  <div class="field">

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

