// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.table {
   width: 25%;
}

.avatar {
    width: 64px;
    height: 64px;
    border-radius:100%
}

.linkto {
    margin-top:5px;
}

.actionUserButton {
    display: flex;
}

.actionButton {
    margin-left: 2px;
    margin-right: 2px;
}